.dev_video {
  position: relative;
  width: 100%;
  margin: auto;
  border-radius: 16px;
  overflow: hidden;
  background-color: #000; 
}

.textbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  pointer-events: none;
}

.textbox svg {
  width: 12rem;
  height: 12rem;
  position: absolute;
  top: -6rem;
  left: -6rem;
  transform-origin: center;
}

/* Play Button */
.textbox .playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Video wrapper */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

/* Responsive SVG and Play button */
@media (max-width: 768px) {
  .textbox svg {
    width: 8rem;
    height: 8rem;
    top: -4rem;
    left: -4rem;
  }

  .textbox .playButton {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
}
