.about {
    margin: 3rem;
}

.image_box {
    position: relative;
    height: 100%;
    object-fit: cover;
}

.first_image {
    height: 450px;
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
}

.image_box .second_image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(70%, -50%);
    width: 58%;
    border-radius: 20px;
}

.title {
    font-weight: 700;
}

.desc {
    font-size: 1rem;
    color: #858585;

}

.numbox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.smallbox {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
}

.numbox span {
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    font-family: 'Alexandria';
}

.numbox .plus::after {
    /* position: absolute;
    content: '';
    right: -20px;
    width: 2px;
    height: 70px;
    background-color: #C78E50; */
}

.about button {
    padding: 0.8rem 2rem;
    background: #C78E50;
    border-radius: 31px;
    color: white;
    margin-top: 2rem;
}

.numberBox {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    gap: 0.2rem;
    font-family: 'Alexandria';
}

.plus {
    font-size: 2.2rem;
    color: black;
    margin-left: 0.25rem;
}

.descc {
    position: relative;
}

.descc::after {
    position: absolute;
    content: '';
    left: -20px;
    width: 2px;
    height: 45px;
    background-color: #C78E50;
    top: 0;
}

@media (max-width: 1200px) {
    .image_box .second_image {
        display: none;
    }
}

@media (max-width: 1023px) {
    .about {
        margin: 3rem 1.25rem 1rem;
    }

    .title {
        margin-top: 2rem;
    }

    .first_image {
        height: 300px;
    }

    .numbox {
        gap: 2rem;
    }
}

@media (max-width: 1200px) and (min-width:992px) {}



[lang="ar"] .image_box .second_image {
    position: absolute;
    top: 50%;
    right: auto;
    left: 0;
    transform: translate(-70%, -50%);
    width: 58%;
    border-radius: 20px;
}

[lang="ar"] .descc::after {
    left: auto;
    right: -20px;
}