.contactSection {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.formSection {
  flex: 1;
  min-width: 300px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  background: none;
  border: none;
  font-weight: 400;
  color: #ccc;
  cursor: pointer;
}

.active {
  color: #000;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 0.3s ease-in-out;
}

.input, .textarea {
  padding: 12px;
    border: 0;
    border-bottom: 1px solid #ccc;
  font-size: 14px;
  border-radius: 0;
}

.textarea {
  min-height: 100px;
}

.sendButton {
        background-color: #c3884b;
      color: white;
      border: none;
      padding: 0.5rem 4rem;
      border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.sendButton:hover {
  background-color: #b1763a;
}

.infoSection {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.card {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 2.5rem;
  box-shadow: 0 1px 5px rgba(0,0,0,0.05);
  width: 450px;
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cardText {
  font-size: 14px;
  line-height: 1.6;
  padding: 0.5rem 2rem;
  color: #606060;
  margin: 0;
}

.visitButton {
  background-color: #c3884b;
  color: white;
  border: none;
  padding: 10px 0;
  width: 100%;
  border-radius: 25px;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.visitButton:hover {
  background-color: #b1763a;
}

.tabs {
    display: flex;
    gap: 3rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.tab {
  cursor: pointer;
  color: #2B2A294D;
  font-size: 1.5rem;
}

/* .tab:hover {
  background-color: #ddd;
} */

.active {
  /* background-color: #C78E50; */
  color: black;
  font-weight: 400;
}
.divbutton {
  width: 90%;
  margin: auto;
}
@media (max-width:1024px) {
  .card {
    width: 100%;
  }
}