.pdfSection {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}

.card {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  width: 272px;
  height: 300px;
  object-fit: contain;
  margin-bottom: 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #262626;
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card {
    max-width: 250px;   
    margin: 0 auto;     
    width: 100%;        
  }

  .icon {
    width: 180px;
    height: 200px;
    margin: 0 auto;     
    display: block;
  }

  .title {
    font-size: 0.9rem;
    padding-top: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-items: center;
  }

  .card {
    max-width: 250px;
    margin: 0 auto;
    width: 100%;
  }

  .icon {
    width: 220px;
    height: 240px;
    margin: 0 auto;
    display: block;
  }

  .title {
    font-size: 1.2rem;
    padding-top: 1rem;
  }
}