.WhiteSugar {
 background-color:#F8F8F8 ;
}

.customContainer {
  /* padding-left: 0 !important;
  padding-right: 0 !important; */
   padding: 2.5rem 3.125rem !important;
  
}

.WhiteSugar .textBlock h2 {
  font-weight: 500;
  font-size: 1.875rem;
  color: #262626;
  margin-bottom: 1rem;
  font-family: var(--font-alex);
}

.WhiteSugar .textBlock strong {
  color: #606060;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 600;
  margin-top: 2rem;
  font-family: var(--font-alex);

}

.WhiteSugar  ul{
  color: #606060;
  font-size: 1rem !important;
  line-height: 1.6 !important;
  font-weight: 400 !important;
  margin-top: 2rem !important;
  font-family: var(--font-alex) !important;
}

.WhiteSugar .imageBlock img {
  border-radius: 10px;
  width: 100%;
  height: 18.75rem; /* 300px */
  display: block;
  object-fit: cover;
}

@media (max-width: 576px) {
  .WhiteSugar {
    margin-bottom: 3rem; 
  }

  .customContainer {

   padding: 2.5rem 1.25rem !important;
  
}

  .WhiteSugar .textBlock h2 {
    font-size: 1.5rem; /* 24px */
  }

  .WhiteSugar .textBlock p {
    font-size: 0.9rem; /* 14px */
  }

  .WhiteSugar .readMoreBtn {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }

  .WhiteSugar .imageBlock {
    margin-top: 1.5rem; 
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .WhiteSugar {
    margin-bottom: 3rem; 
  }

    .customContainer {

   padding: 2.5rem 1.25rem !important;
  
}

  .WhiteSugar .textBlock h2 {
    font-size: 1.5rem;
  }

  .WhiteSugar .textBlock p {
    font-size: 0.9rem;
  }
  
}

.textBlock ul {
  list-style-type: disc;   
  padding-left: 20px;      
  margin: 0;
}

.textBlock li {
  margin-bottom: 8px;     
}

[lang="ar"] .textBlock ul {
  padding-left: auto !important;      
  padding-right: 20px !important;      
}