.supplierSection {
  background: #f9f9f9;
  padding: 40px 40px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 1.875rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: #262626;
}

.subtitle {
  font-size: 1rem;
  color: #606060;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.form input,
.form select,
.form textarea {
  border: none;
  border-bottom: 1px solid #8F8F8F;
  padding: 10px 0;
  font-size: 1rem;
  outline: none;
  background: transparent;


   color: #606060;
  font-weight: 400;
}

.form textarea {
  min-height: 100px;
  resize: vertical;
}

.sendBtn {
  align-self: flex-end;
  background: #C78E50;
  color: #FFFFFF;
  padding: 10px 40px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sendBtn:hover {
  background: #a96f34;
}

/* Responsive */
@media (max-width: 576px) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.9rem;
    margin-bottom: 25px;
  }

  .sendBtn {
    width: 100%;
  }
}


.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  display: block;
}




[dir="rtl"] .form input {
text-align: right;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* ===== Radio Buttons Style (Add This Only) ===== */

.radioGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
    align-items: start !important;

}

.radioLabel {
  font-size: 16px;
  font-weight: 400;
  color: #262626;
  margin-bottom: 10px;

}

.radioOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px; 
  margin: auto;
}

.radioItem {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  font-style: 400;
  color: #606060;
}

.radioItem input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #c49a6c; 
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radioItem input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #c49a6c;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.radioItem span {
  color: #444;
  font-weight: 400;
}


html[dir="rtl"] .input,.error{
text-align: justify;
}