.bannercontent {
    position: relative;
    width: 100%;
    height: clamp(15rem, 25vw, 25rem);
}

.bannertitle {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    padding: 0 1rem;
}

.bannertitle h1 {
    font-family: var(--font-alex);
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
}

.bannertitle h3 {
    font-family: var(--font-alex);
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    text-align: center;

}


.slideImage {
    width: 100%;
    display: block;
    object-fit: cover;
    height: clamp(15rem, 25vw, 25rem);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

@media (max-width: 768px) {
    .bannercontent {
        height: 20rem;
    }

    .slideImage {

        height: 20rem;
    }

    .bannertitle {
        bottom: 10px;
    }

    .bannertitle {
        width: 100%;
    }

}