.ourCustomers {
    background-color: #fff;
    /* margin: 5rem 3rem; */
    background-color: #F8F8F8;
}

.logosWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.logoBox {
    width: 266px;
    aspect-ratio: 2 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 15px;
   height: 266px;
border-radius: 10px;
}

.logoImg {
    width: 224px;
    height: 224px;
    object-fit: contain;
    transition: transform 0.3s ease;
    z-index: 999;
}


.ourCustomers .h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #606060;
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 2.5rem;
    width: 50% !important;
    margin: auto;
}

@media (min-width: 768px) {
    .logoBox {
        flex: 0 0 auto;
    }

    .ourCustomers .h3 {

        width: 100%;
        text-align: center;
    }

}

@media (max-width:768px) {
    .logosWrapper {
        gap: 2rem;
    }

    .ourCustomers .h3 {

        width: 100%;
        text-align: center;
    }
    .ourCustomers .h3 {
    font-size: 0.9rem;
    width: 80% !important;
}
}

.logoImg {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.logoImg:hover {
    transform: scale(1.05);
}