.WhiteSugar {
  margin: 5rem 3.125rem;
  background-color: #F8F8F8;
  border-radius: 10px;
}

.customContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.WhiteSugar .textBlock h2 {
  font-weight: 500;
  font-size: 1.875rem;
  color: #262626;
  margin-bottom: 1rem;
  font-family: var(--font-alex);
}

.WhiteSugar .textBlock {
  padding: 0rem 1.5rem;
}

.WhiteSugar .textBlock p {
  color: #606060;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 1.5rem;
  font-family: var(--font-alex);

}

.WhiteSugar .imageBlock img {
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 25rem;
  display: block;
  object-fit: cover;
}




@media (max-width: 576px) {
  .WhiteSugar {
    margin: 3rem 1.25rem;
  }


  .WhiteSugar .textBlock p {
    font-size: 0.9rem;
    /* 14px */
    margin-top: 15px;
  }

  .WhiteSugar .readMoreBtn {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }

  .WhiteSugar .imageBlock {
    margin-top: 1.5rem;
  }

  .downloadLink {
    padding-bottom: 1rem;

  }

  .WhiteSugar .imageBlock img {
    border-radius: 0px 0 0 0px;

  }

}

@media (min-width: 577px) and (max-width: 991px) {
  .WhiteSugar {
    margin: 3rem 1.25rem;
  }

  .WhiteSugar .textBlock h2 {
    font-size: 1.5rem;
  }

  .WhiteSugar .textBlock p {
    font-size: 0.9rem;
  }

  .WhiteSugar .imageBlock img {
    border-radius: 0px 0 0 0px;

  }

}

/*  */
.downloadLink {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 1rem;

}

.downloadLink:hover {
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
}

.downloadBrochure {
  font-family: var(--font-alex);
  font-size: 1rem;
  font-weight: 700;
  color: #262626;
}