.jobDetails {
  background: #fff;
  margin: 5rem 3.125rem;
}
.customContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.jobTitle {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #262626;
}

/* Job Info (Date, Area, Location, Experience) */
.jobInfoBox {
  margin-bottom: 30px;
}

.jobItem {
  display: flex;
  font-size: 1rem;
  color: #a4a2a1;
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 0;
}

.jobItem span {
  display: inline-block;
  min-width: 9.375rem; 
  color: #A4A2A1;
  font-size: 1rem;
  font-weight: 400;
}

.jobItem strong {
  color: #606060;
  font-weight: 500;
  font-size: 1rem;
}


/* Description */
.jobDescription {
  line-height: 1.6;
}

.jobDescription p {
  font-size: 1rem;
  font-weight: 400;
  color: #606060;
}
.jobDescription h5 {
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: 600;
  color: #333333;
}

.jobDescription ul {
  margin: 10px 0 20px 20px;
  padding-left: 20px;      
  list-style: disc;        
}

.jobDescription li {
  margin-bottom: 6px;
  font-size: 1rem;
  color: #606060;
  font-weight: 400;
}


/* Apply Button */
.applyBtn {
  background: #C78E50;
  color: #F6E6D7;
  border: none;
  padding: 12px 35px;
  border-radius: 25px;
  font-size: 1rem;
  transition: 0.3s ease;
}

.applyBtn:hover {
  background: #a6733e;
}

/* =========================
   Responsive
   ========================= */
@media (max-width: 767px) {


  .jobDetails {
    margin: 3rem 1.25rem; 
}
  .jobTitle {
    font-size: 1.5rem;
  }

  .jobItem {
    flex-direction: column;
    gap: 3px;
  }

  .jobDescription p {
  font-size: 0.9rem;

}
.jobDescription h5 {
    font-size: 1.4rem;
}

  .applyBtn {
    width: 100%;
    padding: 12px;
  }
}

/* apply modal */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: #fff;
  border-radius: 10px;
  padding: 80px 80px;
  max-width: 900px;
  width: 100%;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 30px;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #C78E50;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.875rem;
  color:#262626;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="email"],
.form input[type="file"] {
  border: none;
  border-bottom: 1px solid #8F8F8F;
  padding: 10px;
  outline: none;
  font-size: 1rem;
  color:#606060;
  font-weight: 400;
}

.uploadLabel {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #555;

}

.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.sendBtn {
  background: #C78E50;
  color: #F6E6D7;
  padding: 10px 40px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.cancelBtn {
  background: transparent;
  border: 1px solid #C78E50;
  color: #C78E50;
  padding: 10px 40px;
  border-radius: 25px;
  cursor: pointer;
}

.cancelBtn:hover {
  background: #b89773;
  border: 1px solid ;
  color: #fff;
  padding: 10px 40px;
  border-radius: 25px;
  cursor: pointer;
}



.uploadBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8F8F8F;
  padding: 10px;
  outline: none;
  font-size: 1rem;
  color:#606060;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

.uploadBox input[type="file"] {
  display: none;
}

.icon {
  color: #c48b4c; 
  font-size: 18px;
}

@media (max-width: 992px) {
  .modal {
    padding: 40px 30px;
    max-width: 700px;
  }

  .title {
    font-size: 1.5rem;
  }

  .sendBtn,
  .cancelBtn {
    padding: 8px 30px;
    font-size: 0.95rem;
  }
}

@media (max-width: 576px) {
  .modal {
    padding: 30px 20px;
    max-width: 100%;
  }

  .closeBtn {
    font-size: 24px;
    right: 15px;
  }

  .title {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }

  .form {
    gap: 15px;
  }

  .form input[type="text"],
  .form input[type="email"],
  .uploadBox {
    font-size: 0.9rem;
    padding: 8px 0;
  }

  .btns {
    flex-direction: column;
    gap: 10px;
  }

  .sendBtn,
  .cancelBtn {
    width: 100%;
    font-size: 0.9rem;
    padding: 10px;
  }
}



/* Apply form job  */

.inputGroup {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.errorMsg {
  color: red;
  font-size: 14px;
  margin: 0;
}



/* .inputError {
  border-bottom: 1px solid #d93025 !important;
} */

.spinner {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-top: 2px solid #007bff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
